<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>О сайте</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<h1>Интересные факты</h1>
<nav>
    <a href="/">Главная</a>
    <a href="/about">Интересные факты</a>
    <a href="/news">Новости</a>
    <a href="/gallery">Галерея</a>
    <a href="/contacts">Контакты</a>
</nav>
<main>
    <h2>Интересные факты о космосе:</h2>
    <ol>
        <li>Масса Солнца составляет 99.86% от массы всей Солнечной системы, оставшиеся 0.14% приходятся на планеты и астероиды.</li>
        <li>Магнитное поле Юпитера настолько мощное, что ежедневно обогащает магнитное поле нашей планеты миллиардами Ватт.</li>
        <li>Самый крупный бассейн Солнечной системы, образовавшийся в результате столкновения с космическим объектом, находится на Меркурии. Это «Калорис» (Caloris Basin), диаметр которого составляет 1,550 км. Столкновение было настолько сильным, что ударная волна прошла по всей планете, кардинально изменив ее внешний облик.</li>
        <li>Солнечное вещество размером с булавочную головку, помещенное в атмосферу нашей планеты, начнет с невероятной скоростью поглощать кислород и за доли секунд уничтожит все живое в радиусе 160 километров.</li>
        <li>1 плутонианский год длится 248 земных лет. Это означает, что в то время как Плутон делает всего один полный оборот вокруг Солнца, Земля успевает сделать 248.</li>
        <li>Еще более интересно обстоят дела с Венерой, 1 день на которой длится 243 земных суток, а год всего 225.</li>
        <li>Марсианский вулкан «Олимп» (Olympus Mons) является крупнейшим в Солнечной системе. Его протяженность более 600 км, а высота 27 км, в то время как высота самой высокой точки на нашей планете, пика горы Эверест, достигает всего 8,5 км.</li>
        <li>Взрыв (вспышка) сверхновой звезды сопровождается выделением гигантского количества энергии. В первые 10 секунд взорвавшаяся сверхновая производит больше энергии, чем Солнце за 10 миллиардов лет, и за короткий период времени вырабатывает больше энергии, чем все объекты в галактике вместе взятые (исключая другие вспыхнувшие сверхновые звезды).</li>
        <li>Крошечные нейтронные звезды, чей диаметр не превышает и 10 км, весят как Солнце (вспомним факт №1). Сила тяжести на этих астрономических объектах чрезвычайно высока и если, гипотетически, на ней высадится астронавт, то вес его тела увеличится приблизительно на один миллион тонн.</li>
        <li>5 февраля 1843 года астрономы обнаружили комету, которой дали имя «Великая» (она же мартовская комета, C/1843 D1 и 1843 I). Пролетая рядом с Землей в марте того же года, она ‘расчертила’ небо надвое своим хвостом, длина которого достигала 800 млн. километров.</li>
        <li>Тянущийся за «Великой Кометой» хвост земляне наблюдали более месяца, пока, 19 апреля 1843 года, он полностью не исчез с небосвода.</li>
        <li>Согревающая нас сейчас энергия солнечных лучей зародилась в ядре Солнца более 30 миллионов лет назад — большая часть этого времени потребовалась ей на преодоление плотной оболочки небесного светила и всего 8 минут на то, чтобы достичь поверхности нашей планеты.</li>
        <li>Большинство тяжелых элементов, содержащихся в вашем организме (таких как кальций, железо и углерод), являются побочными продуктами взрыва группы сверхновых звезд, положившего начало формированию Солнечной системы.</li>
        <li>Исследователи из Гарвардского университета установили, что 0,67 % всех горных пород на Земле имеют марсианское происхождение.</li>
        <li>Плотность 5,6846×1026-килограммового Сатурна настолько мала, что если бы нам удалось поместить его в воду, он бы плавал на самой поверхности.</li>
        <li>На спутнике Юпитера, Ио, зафиксировано ~400 действующих вулканов. Скорость выбросов серы и диоксида серы при извержении может превышать 1 км/с, а высота потоков достигать 500-километровой отметки.</li>
        <li>Вопреки распространенному мнению, космос – это не полный вакуум, но достаточно близок к нему, т.к. на 88 галлонов (0,4 м3) космической материи приходится, по крайней мере, 1 атом (а как часто учат в школе, в вакууме нет ни атомов, ни молекул).</li>
        <li>Венера, это единственная планета Солнечной системы, которая обращается против часовой стрелки. Этому существует несколько теорических обоснований. Некоторые астрономы уверены, что такая участь постигает все планеты с плотной атмосферой, которая сначала замедляет, а затем закручивает небесное тело в обратную от первоначального обращения сторону, другие же предполагают, что причиной послужило падение на поверхность Венеры группы крупных астероидов.</li>
        <li>С начала 1957 года (год запуска первого искусственного спутника «Спутник-1») человечество успело в прямом смысле слова засеять орбиту нашей планеты разнообразными спутниками, однако лишь одному из них посчастливилось повторить ‘судьбу Титаника’. В 1993 году спутник «Олимп» (Olympus), принадлежащий Европейскому Космическому Агентству (European Space Agency), был уничтожен в результате столкновения с астероидом.</li>
    </ol>
</main>
<footer>
    <p>Космический сайт &copy; 2024</p>
</footer>
</body>
</html>