<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Космический сайт</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Космический сайт</h1>
    <nav>
        <a href="/">Главная</a>
        <a href="/about">Интересные факты</a>
        <a href="/news">Новости</a>
        <a href="/gallery">Галерея</a>
        <a href="/contacts">Контакты</a>
    </nav>
    <main>
        <h2>О нашем космическом сайте</h2>

    <p>Добро пожаловать на наш всеобъемлющий космический сайт, ваш путеводитель по бесконечным просторам Вселенной. Мы
        стремимся предоставить нашим читателям захватывающий и познавательный опыт, охватывая широкий спектр тем,
        связанных с космосом.</p>

    <h3>Наша миссия</h3>

    <p>Наша миссия заключается в том, чтобы просвещать, вдохновлять и развлекать наших читателей, пробуждая в них
        любопытство и страсть к космосу. Мы верим, что понимание Вселенной имеет решающее значение для расширения наших
        знаний, стимулирования инноваций и формирования нашего будущего.</p>

    <h3>Наш контент</h3>

    <p>На нашем сайте вы найдете интересные факты, новости и различные фотографии космоса:</p>

    <ul>
        <li>Последние новости: Будьте в курсе последних событий в области космических исследований, включая запуски
            ракет, открытия экзопланет и научные прорывы.
        </li>
        <li>Космические миссии: Узнайте о прошлых, настоящих и будущих космических миссиях, от полетов на Луну до
            исследования дальних планет.
        </li>
        <li>Планеты и звезды: Откройте для себя тайны нашей Солнечной системы и за ее пределами, узнав о планетах,
            звездах, галактиках и других небесных объектах.
        </li>
        <li>Астрофизика: Погрузитесь в увлекательный мир астрофизики, изучая происхождение и эволюцию Вселенной, черные
            дыры, темную материю и многое другое.
        </li>
        <li>Космические технологии: Узнайте о передовых технологиях, используемых в космических исследованиях, таких как
            ракеты, спутники и космические корабли.
        </li>
    </ul>

    <h3>Наши читатели</h3>

    <p>Наш сайт предназначен для всех, кто интересуется космосом, от начинающих любителей до опытных профессионалов. Мы
        стремимся предоставлять контент, доступный и увлекательный для читателей всех возрастов и уровней знаний.</p>

    <h3>Присоединяйтесь к нашему сообществу</h3>

    <p>Присоединяйтесь к нашему растущему сообществу любителей космоса. Вместе мы можем исследовать чудеса Вселенной и
        расширять границы наших знаний.</p>

    <p>Космос ждет вас!</p>
    </main>
    <footer>
        <p>Космический сайт &copy; 2024</p>
    </footer>
</body>
</html>